[Unit]
Description=A spotify playing daemon
Documentation=https://github.com/librespot-org/librespot
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/librespot -u gelx -p <censored> --initial-volume 90 -n raspi --backend alsa --device ratefix -b 320 --device-type avr 
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
